*{
	padding: 0 ;
	margin: 0 ;
}
ul{
	list-style:none;
}
a{
	text-decoration: none;
	color:white;
}
div#top{
	background-image: url(../img/top.png);
	margin: 0 auto;
	width:989px;
	height:29px;
}
div#top>ul{
	margin: 0 auto;
	width:857px;
}
div#top>ul>li{
	line-height:29px;
	font-size:13px;
	float:left;
	position: relative;
}
div#top>ul>li:hover>ul{
	display:block;
}
div#top>ul>li>a{
	padding:0 10px;
}
div#top>ul>li a:hover{
	text-decoration:underline;
}
div#top>ul>li>span{
	color:gray;
}
div#top>ul>li>ul{
	background:#1585DB;
	position: absolute;
	left:-35px;
	width:138px;
	display:none;
}
div#top>ul>li>ul>li{
	font-size:15px;
	padding:5px 12px;
	border:1px solid #C4E0F6;
	font-weight:bold;
}
div#top>ul>li>ul>li:hover{
	background:#415266;
}
div#top>ul>li>ul>li:hover>ul{
	display:block;
}
div#top>ul>li>ul>li{
	text-align:center;
}
div#top>ul>li>ul>li>a>div{
	width:0px;  
    height:0px;  
    border:7px solid;  
    border-color:transparent transparent transparent white;
    float:right;
    margin:8px 0 8px 2px;
}
div#top>ul>li>ul>li>ul{
	background:#1585DB;
	width:138px;
	position: absolute;
	left: 138px;
	top: 0px;
	display:none;
}
div#top>ul>li>ul>li>ul>li{
	font-size:15px;
	padding:5px 12px;
	border:1px solid #C4E0F6;
	font-weight:bold;
}
div#top>ul>li>ul>li>ul>li:hover{
	background:#415266;
}