*{
	padding: 0;
	margin: 0;
	font-family: MS PGothic;
	border:0;
}
ul{
	list-style-type:none;
	margin-left: 5px;
}
li{
	float:left;
}
p{
	line-height: 18px;
}
h1{
	color: #D8D8D8;
}

/*总框架*/

div#frame{
	background-image: 
	url(../img/background.jpg);
	width: 1335px;
	height: 1420px;
	margin:5px auto 0;
	border: 1px solid #171814;
	box-shadow: 1px 1px 1px 1px gray;
}
div#top{
	background:rgba(0,0,0,0.6);
	width: 1335px;
	height: 34px;
	box-shadow: 1px 1px 1px 1px gray;
}
div#main{
	width:980px;
	margin:1px auto 0px;
}
div#top>div#par{
	width: 980px;
	margin:0 auto;
	height: 34px;
}
div#main>div#par1{
	width: 980px;
	height: 140px;
	margin-top: 35px;
}
div#main>div#par2{
	width: 980px;
	height: 490px;
}
div#main>div#par3{
	width: 980px;
	height: 630px;
	background:rgba(0,0,0,0.6);
	box-shadow: 1px 1px .5px .5px black;
	border-radius: 4px;
}
div#main>div#par3>div#left{
	height: 560px;
	width: 620px;
	margin:33px 0 38px 23px;
	float: left;
}
div#main>div#par3>div#right{
	height: 560px;
	width: 290px;
	margin:33px 22px 38px 0;
	float: right;
}
div#main>div#footer{
	width: 980px;
	height: 90px;
}

/*顶部*/

div#top>div#par>a,div#top>div#par>span{
	text-decoration: none;
	line-height: 34px;
	color: #818082;
	font-size: 20px;
	position: relative;
}
div#top>div#par>span{
	padding: 5px;
	color: black;
}
div#top>div#par>a>img{
	float: right;
	margin:5px 0;
}
div#top>div#par>a:hover{
	color: #B2B2B2;
	text-decoration:underline;
}

/*导航栏部分*/

div#par1>div#logo{
	float: left;
}
div#par1>div#logo>p{
	color: gray;
}
div#par1>div#search{
	height: 35px;
	width: 263px;
	background-color: black;
	float: right;
	border-radius: 17px;
}
div#par1>div#search>input{
	height: 35px;
	width: 210px;
	border-radius: 17px;
	background-color: black;
	border:none;
	font-size: 15px;
}
div#par1>div#search>a>img{
	float: right;
	padding: 3px 17px 2px 0;
}
#centre ul li a{
	text-align: center;
	height: 60px;
	display:block;
	padding: 0 20px 0 20px;
	text-decoration: none;
	color:white; 
	font-weight:bold;
	line-height:60px;
	box-shadow: 1px .5px .5px .5px gray;
}
#centre ul li a:hover{
	background: #51a4cd;
}
#centre{
	height: 60px;
	width:978px;
	box-shadow: 1px 1px 1px 1px gray;
	float: left;
	background-color: #1f7fbc;
	margin-top: 20px;
	border-radius: 6px;
}

/*轮播器部分*/

div#par2>div#main{
	width: 980px;
	height: 420px;
	background-color: #191919;
	box-shadow: 1px 1px .5px .5px black;
	border-radius: 4px;
}
div#par2>div#main>div#banner{
	width: 980px;
	height: 360px;
	background-color: white;
	border-radius: 4px;
}
div#par2>div#main>div#banner>img{
	width: 980px;
	height: 360px;
	float: left;
	position:absolute;
	border-radius: 4px;
}
div#par2>div#main>div#word{
	width: 590px;
	height: 60px;
	margin:0 auto;
}
div#par2>div#main>div#word>h1{
	line-height: 60px;
	float: left;
	font-size: 17px;
}
div#par2>div#main>div#word>p{
	line-height: 60px;
	float: left;
	padding: 0 20px;
	color: gray;
	font-size: 12px;
}
div#par2>div#main>div#word>a>div{
	margin-top: 15px;
}
div#par2>div#footer{
	width: 980px;
}
div#par2>div#footer>ul{
	margin:0 auto;
	width: 100px;
}
div#par2>div#footer>ul>li{
	padding: 10px 5px;
	font-size: 20px;
	color: white;
	cursor:pointer;
}
div#par2>div#footer>ul>li:hover{
	color: #0676BE;
}

/*main*/

#line{
	height: 1px;
	width: 620px;
	background-color:  #D8D8D8;
}
#Line{
	height: 1px;
	width: 290px;
	background-color:  #D8D8D8;
}
div#par3>div>div#left1,div#par3>div>div#right1{
	float: left;
	height: 290px;
}
div#par3>div>div>div>h1{
	margin-bottom: 10px;
	font-size: 25px;
	cursor:pointer;
}
div#par3>div>div>div>p{
	color: #D8D8D8;
	margin:10px 0;
	float: right;
	font-size: 13.5px;
}
div#link>ul{
	padding-top:10px;
}
div#link>ul>li{
	margin:7px 0;
}
div#link>ul>li>a{
	font-size: 13px;
	color: #0000FF;
}
div#link>ul>li>a:hover{
	color:white;
}
div#right>div#right2>img{
	margin-top: 3px;
	cursor:pointer;
}

/*跑马灯*/

div#par3>div>div>div#scroll{
	background:rgba(0,0,0,0.5);
	width: 620px;
	height: 155px;
	float: left;
	border-radius: 6px;
	margin-top: 20px;
}
div#scroll>div#left>p,div#scroll>div#right>p{
	line-height: 150px;
}
div#scroll>div#left{
	float: left;
	margin-left:10px;
}
div#scroll>div#right{
	float: right;
	margin-right:10px;
}
div#scroll>div#main{
	margin:30px 5px 0 9px;
	height: 125px;
	width: 130px;
	float: left;
}
div#scroll>div#main>div#img{
	height: 95px;
	width: 130px;
	background-color: white;
	cursor:pointer;
}
div#scroll>div#main>div#img>img{
	height: 95px;
	width: 130px;
}
div#scroll>div#main>div#word{
	width: 130px;
}
div#scroll>div#main>div#word>p{
	color: white;
	font-size: 14px;
	margin: 0 2px;	
	cursor:pointer;
}
div#scroll>div#main>div#word>p:hover{
	color: #1A81C9;
}

/*按钮*/

div#box{
	height: 25px;
	border: 1px solid #0000FF;
	background: #1A81C9;
	border-radius: 4px;
	float: left;
	margin-top: 10px;
	cursor:pointer;
}
div#box>p#box{
	padding:0 15px;
	line-height: 25px;
	font-weight: bold;
	color: white;
}

/*footer*/

div#footer>div{
	margin-top: 25px;
	float: left;
	font-size: 15px;
	width: 980px;
}
div#footer>div>div#left{
	float: left;
}
div#footer>div>div#right{
	float: right;
}
div#footer>div>div>ul>span{
	float: left;
}
div#footer>div>div>ul>li>a{
	text-decoration: none;
	color: gray;
	margin:0 5px;
}